@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
  @apply font-medium;
  
  @apply bg-neutral-900;
  background-image: url("/pixecute-background.jpg");
  background-size: cover;
}

body::after {
  content: "";
  @apply absolute;
  @apply top-0;
  @apply left-0;
  @apply w-full;
  @apply h-full;
  @apply bg-neutral-900/50;
}